torch --index-url https://download.pytorch.org/whl/cu130
git+https://github.com/dice-group/dice-embeddings.git@f38d9b7#egg=dicee
-r https://raw.githubusercontent.com/dice-group/dice-embeddings/f38d9b7/requirements.txt
pandas
pytorch-lightning
huggingface-hub
datasets
transformers
peft
